body {
    margin: 0;
    background-color: grey;
}

.main {
    border: 1px solid #000;
    /*position: relative;*/
    width: 75%;
    height: 200px;
    margin: auto;
}
li {
    display: inline;
    border: 1px solid #000;
    width: 100px;
    text-align: center;
}
.navbar {
    
}
a {
    color: khaki;
}

li:hover{
    background-color: lightblue;
}
.meniu-center {
    margin: auto;
    width: 50%;
}
