body {
    padding-top: 5px;
    margin: 0;
    background-color: grey;
}

.main {
    border: 1px solid #000;
    position: relative;
    width: 75%;
    height: 200px;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    background-color: bisque;
    padding: 15px 32px;
    text-align: center;
    font-family: Forte, Geneva, Tahoma, sans-serif;
    color: chocolate;
    font-size: 16px;
}
a:hover {
    font-size: 18px ;
}

button {
    text-decoration: bold;
    font-family: "Times New Roman";
    background-color: blue;
    color: yellow;
    font-size: 16px;
}
